include LICENSE.txt
include README.md
include requirements.txt
include loducode_web3/helpers/*
include loducode_web3/locale/*
include loducode_web3/management/*
include loducode_web3/managers/*
include loducode_web3/migrations/*
include loducode_web3/models/*